.container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 300px);
	grid-gap: 10px;
	justify-content: center;
	text-align: center;
}

img {
	width: 100%;
	width: 100%;
    height: auto;
}

body {
	margin: 0; padding: 0;
	background: antiquewhite;
	font-size: 20px;
}

blockquote {
	font-style: italic;
}

h1 {
	font-family: sans-serif;
}

section.introduction {
	min-height: 100vh;
	padding: 50px;
	max-width: 35em;
	margin: 0 auto;
}

.down-arrow {
	font-size: 4em;
	text-align: center;
}
