.container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 300px);
	grid-gap: 10px;
	justify-content: center;
}

img {
	width: 100%;
	width: 100%;
    height: auto;
}

body {
	margin: 0; padding: 0;
	background: #ace8dc;
	font-size: 20px;
}

h1 {
	font-family: sans-serif;
}

section.introduction {
	min-height: 100vh;
	padding: 50px;
	max-width: 35em;
	margin: 0 auto;
}

.down-arrow {
	text-align: center;
	animation: bounce 2s linear infinite;
	position: relative;
}

@keyframes bounce {
	0% { top: 0;}
	25% { top: -20px; }
	50% { top: 0; }
	75% { top: 20px; }
	100% { top: 0; }
}