<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Books I've Read</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <section class="introduction">
      <figure>
          <blockquote>
              <p>I cannot remember the books I've read any more than the meals I have eaten; even so, they have made me.</p>
          </blockquote>
          <figcaption>—Ralph Waldo Emerson (allegedly)</figcaption>
      </figure>

      <p>Welcome to my library.</p>

      <p>I only have so much space on my shelves. Finished books get recorded here so that I can look back and remember them, long after they've gone on to a new home.</p>

      <p>Images are lazily loaded, but scrolling all the way to the bottom of the page will transfer approximately IMAGE_SIZEMB.</p>

      <p>Scroll down to browse.</p>

      <p class="down-arrow">
        <svg width="198" height="198" viewBox="0 0 198 198" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="28.2843" y="70.7107" width="140" height="40" transform="rotate(45 28.2843 70.7107)" fill="#D1442F"/>
        <rect x="197.99" y="98.9949" width="140" height="40" transform="rotate(135 197.99 98.9949)" fill="#D1442F"/>
        </svg>
      </p>
    </section>

    <div class="container">
      BOOKSGOHERE
    </div>
  </body>
</html>