<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Books I've Read</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <section class="introduction">
      <figure>
          <blockquote>
              <p>I cannot remember the books I've read any more than the meals I have eaten; even so, they have made me.</p>
          </blockquote>
          <figcaption>—Ralph Waldo Emerson (allegedly)</figcaption>
      </figure>

      <p>Welcome to my library.</p>

      <p>I only have so much space on my shelves. Finished books get recorded here so that I can look back and remember them, long after they've gone on to a new home.</p>

      <p>Scroll to browse.</p>

      <p class="down-arrow">
        &#8671;
      </p>
    </section>

    <div class="container">
      BOOKSGOHERE
    </div>
  </body>
</html>